# Основной веб-фреймворк и сервер
fastapi==0.104.1
uvicorn==0.24.0
# Работа с базой данных (ORM)
sqlalchemy==2.0.23
# Валидация данных и настройки
pydantic==2.5.2
python-dotenv==1.0.0
# Шаблонизатор для админки
jinja2==3.1.2
# Обработка данных и Excel (Export)
pandas==2.1.3
openpyxl==3.1.2
# Работа с формами и HTTP
python-multipart==0.0.6
